* {
    margin: 0;
    padding: 0;
}

body {
    background: #55c5ff;
}

.pointer {
    cursor: pointer;
}

.incomplete {
    color: #bbb;
}

.complete {
    color: gold;
    text-shadow: 0 0 1px black;
}