!!!
%html{lang: :en}
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'ie=edge'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/bootstrap.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/font-awesome.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/qwerty.css'}
    = yield_content :head

    %title qwerty
  %body
    = yield

    %script{type: 'text/javascript', src: '/jquery.js'}
    %script{type: 'text/javascript', src: '/bootstrap.js'}
    = yield_content :foot