.form-group
  %label{for: :username}
  %input.form-control#username{type: :text, name: :username, placeholder: 'Username'}

  %label{for: :password}
  %input.form-control#password{type: :password, name: :password, placeholder: 'Password'}