.form-group
  %label{for: :firstNameInput}
  %input.form-control#firstNameInput{type: :text, name: :first_name, placeholder: 'First name'}

  %label{for: :lastNameInput}
  %input.form-control#lastNameInput{type: :text, name: :last_name, placeholder: 'Last name'}

  %label{for: :passwordInput}
  %input.form-control#passwordInput{type: :password, name: :password, placeholder: 'Password'}