* {
    margin: 0;
    padding: 0;
}

body {
    background: #55c5ff;
    min-width: 600px;
}

.pointer {
    cursor: pointer;
}

.incomplete {
    color: #bbb;
}

.grey {
    color: #444;
}

.complete {
    color: gold;
}